.goods-list {
  // width: 1226px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.goods-item {
  // width: 280px;
  padding: 20px 10px 10px;
  margin: 14px 10px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  .figure-img {
    width: 200px;
    height: 200px;
    margin: 0 auto 16px;
  }
  .title {
    margin: 0 auto;
    width: 230px;
    font-size: 14px;
    font-weight: 400;
  }
  .price {
    margin: 10px 0;
    color: #ff6700;
  }
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.category-pagination {
  margin: 20px 0;
  text-align: center;
}
