.order_item {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 20px 0 30px;
  .item_top {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: #f5f3f3;
  }
  .item_content {
    padding: 20px 30px 0;
  }
  .business {
    display: flex;
    align-items: center;
    font-size: 14px;
    img {
      border-radius: 6px;
      margin-right: 6px;
    }
  }
}
.content_top {
  display: flex;
  position: relative;
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    background: #f1efef;
  }
  .num {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  &_right {
    margin-left: 20px;
    p {
      padding: 10px 0;
    }
  }
}

.content_bottom {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #5a5858;
  font-weight: 500;
  span {
    font-size: 15px;
    color: #ee2222;
  }
}
.price {
  position: absolute;
  right: 50px;
  bottom: 12px;
  font-size: 12px;
  transform: scale(.9);
  color: #bb2929;
}
.refund{
  position: absolute;
  right: 50px;
  bottom:35px;
  font-size: 12px;
  transform: scale(.9);
  color: #000612;
  
  z-index:2;
  &:hover{
    background: #ee2222;
  }
}
.yes_refund {
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 140px;
  text-align: center;
  padding: 10px 14px;
  color: #fff;
  background-color: #909399;
  border: 1px solid #e9e7e7;
  border-radius: 4px;
  transform: rotate(-25deg);
}
.refund_bg {
  background: #c24f4f !important;
}
.refund_bg_3 {
  background: #d6c043 !important;
}